@import "tailwindcss";

/* Tokens simples */
:root {
  --brand: #F6C20E;
  --brand-700: #C79C0B;
  --bg-950: #0B0B0B;
  --bg-900: #141414;
  --fg: #E5E7EB;
}

/* mapa de tema (opcional, v4) */
@theme inline {
  --color-brand: var(--brand);
  --color-brand-700: var(--brand-700);
  --color-bg: var(--bg-950);
  --color-fg: var(--fg);
}

html, body { height: 100%; }
body {
  color: var(--color-fg);
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
